COMPOSE_PROJECT_NAME=multitenant-restaurant-api

MAVEN_BUILD_IMAGE=maven:3.9.11-eclipse-temurin-21
JAVA_RUNTIME_IMAGE=eclipse-temurin:21-jre
APP_JAR_FILE=multitenant-restaurant-api-0.0.7-2-SNAPSHOT.jar

API_CONTAINER_NAME=restaurant-hub-api
API_PORT=8080
SERVER_PORT=8080
SPRING_PROFILES_ACTIVE=docker

POSTGRES_CONTAINER_NAME=restaurant-hub-postgres
POSTGRES_PORT=5432
POSTGRES_DB=restaurant_hub
POSTGRES_USER=restaurant_hub
POSTGRES_PASSWORD=restaurant_hub

SPRING_DATASOURCE_HOST=postgres
SPRING_DATASOURCE_PORT=5432
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/restaurant_hub
SPRING_DATASOURCE_USERNAME=restaurant_hub
SPRING_DATASOURCE_PASSWORD=restaurant_hub
SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver

APP_DATABASE_SCHEMA=restaurant_hub
